@charset "utf-8";
/* CSS Document */


/*-----Start FONT INCLUDES-----*/
@font-face {
 font-family: 'ChaletParisNineteenSixty';
 src: local('Chalet ParisNineteenSixty'), local('Chalet-ParisNineteenSixty'), url('../fonts/chalet-parisnineteensixty-webfont.svg#webfontwemrwIUa') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'HelveticaNeue65Medium';
 src: local('Helvetica Neue LT Std'), local('HelveticaNeueLTStd-Md'), url('../fonts/helveticaneuemd-webfont.svg#webfontOmUr58dp') format('svg');
 font-weight: normal;
 font-style: normal;
}
/*-----End FONT INCLUDES-----*/
/*-----TAG REDEFINITIONS-----*/
html {
	padding:0;
	margin:0;
}
body {
	font-family:"ChaletParisNineteenSixty";
	orientation:landscape;
	overflow:hidden;
	padding:0;
	margin:0;
	font-weight:100;
}
header {
	margin:0;
	overflow:hidden;
	width: 100%;
}
ul {
	padding:25px 0 0px 390px;
}
li {
	list-style:none;
	text-align:left;
	vertical-align:top;
}
input[type="radio"] {
	display:none;
}
label {
	font-family: 'HelveticaNeue65Medium';
	font-size: 19px;
	padding:0px 0 0 20px;
	margin:0 0 0 0;
	line-height: 12px;
	height:18px;
	position:relative;
	top:-5px;
	color:#333;
}
header, footer, section {
	display:block;
}
/*-----STRUCTURE-----*/
#tide_wrapper {
	width:980px;
	height:748px;
	overflow:hidden;
	margin:0px;
}
#tide_wrapper.main {
	background:url(../images/bg_2.jpg) bottom no-repeat;
}
#tide_logo_hdr {
	background:url(../images/img_tide_logo.png) no-repeat;
	width:140px;
	height:136px;
	float:left;
	margin:20px 0 0 30px;
}
#tide_title {
	font-weight:100;
	text-transform:uppercase;
	float:left;
	padding:40px 0 0 190px;
}
#tide_title_small {
	font-weight:100;
	text-transform:uppercase;
	float:left;
	padding:10px 0 0 232px;
}
#tide_title h1 .tide_stain {
	font-size:87px;
	line-height: 65px;
	color:#F60;
	float:left;
	clear:left;
}
#tide_title h1 .tide_brain {
	font-size:91px;
	line-height: 80px;
	color: #E00;
	float:left;
	clear:left;
}
#tide_title h1 .tide_test {
	font-size:45px;
	line-height: 45px;
	color:#000;
	float:left;
	clear:left;
}
#tide_title_small h1 .tide_stain_small {
	font-size:50px;
	color: #E00;
	line-height: 50px;
	float:left;
	clear:left;
}
#tide_title_small h1 .tide_brain_small {
	font-size:48px;
	line-height: 34px;
	color:#F60;
	float:left;
	clear:left;
}
#tide_title_small h1 .tide_test_small {
	font-size:25px;
	line-height: 24px;
	color:#000;
	float:left;
	clear:left;
	letter-spacing:1px;
}
#tide_content {
	margin:20px auto 0px;
	text-align: center;
	width:940px;
	z-index:9999;
}
#tide_content.home {
	width: 940px;
	z-index:9999;
}
#tide_title h1 {
	font-weight:100;
	letter-spacing:2px;
	margin:0px;
	padding:0px;
}
#tide_title_small h1 {
	font-weight:100;
	letter-spacing:2px;
	margin:0px;
	padding:0px;
}
#tide_content h2 {
	text-align: center;
	font-size:52px;
	line-height:45;
	margin: -10px 0 0 0;
	padding:0;
	color:#D00;
}
#tide_content .orange_txt {
	color:#F60;
	margin-right: 13px;
	margin-left: 13px;
}
#tide_content .blue_txt {
	color: #06C;
}
#tide_content .red_txt {
	color: #D00;
}
#tide_content .result_txt {
	font-size:30px;
	max-width: 80%;
	padding: 0 0 0 10%;
}
#tide_content .footnote {
	font-size:14px;
	max-width: 80%;
	padding: 45px 0 30px 10%;
	color: #555;
}
#tide_content p {
	font-size:24px;
	margin:0 0 0 0;
	line-height:26px;
}
#tide_content div {
	padding:30px 0 0 0;
}
#tide_content h4 {
	font-size:32px;
	padding:15px 0 30px 0;
	margin:0 0 0 0;
	color: #E00;
	font-weight: 100;
}
div#tide_question p {
	font-size:32px;
	color: #06C;
	margin:10px;
	padding:0px 0 0 0;
	font-weight:100px;
}
#tide_form {
	z-index:9999;
}
#tide_form button {
	background:url(../images/btn_start_quiz.png) 0px 0px no-repeat;
	font-size:18px;
	width:175px;
	height:68px;
	border:none;
	color:#FFF;
}
#tide_form button:hover, #tide_form button:focus, #tide_form button:active {
	background:url(../images/btn_start_quiz.png) 0px -68px no-repeat;
}
.tide_option_txt {
}
#tide_verification {
	font-size:16px;
	margin-bottom:30px;
}
#tide_verification .correct_answer {
	font-family:Arial, sans-serif;
	font-size:13px;
	background:url(../images/icon_correct.png) top left no-repeat;
	padding: 1px 0 0 20px;
	text-transform:uppercase;
	color: #090;
}
#tide_verification .wrong_answer {
	font-family:Arial, sans-serif;
	font-size:13px;
	background: url(../images/icon_incorrect.png) left 2px no-repeat;
	padding: 1px 0 0 20px;
	text-transform:uppercase;
	color: #E30605;
}
#tide_verification #wrong_notice {
	font-family:Arial, sans serif;
	font-size:13px;
	padding:0 0 0 10px;
	color:#7d7d7d;
}
#btn_next {
	font-family:Arial, sans-serif;
	background: url(../images/btn_next.png) 0px 0px no-repeat;
	font-size:18px;
	width:143px;
	height: 56px;
	border:none;
	padding:  17px 0 17px 0px;
	color:#FFF;
	text-transform:uppercase;
	position:relative;
	left:55px;
	z-index: 9000;
}
#btn_back {
	font-family:Arial, sans-serif;
	background: url(../images/btn_back_home.png) 0px 0px no-repeat;
	font-size:18px;
	width:163px;
	height: 45px;
	border:none;
	padding:  10px 0 10px 0px;
	color:#FFF;
	z-index:9000;
}
#tide_question_footer {
	font-family: 'HelveticaNeue65Medium';
	font-size:18px;
	color:#06F;
	padding:0 0 0 0px;
	position:relative;
	left:75px;
}
#btn_next:hover, #btn_next:active, #btn_next:focus {
	background: url(../images/btn_next.png) 0px -56px no-repeat;
}
#btn_back:hover, #btn_back:active, #btn_back:focus {
	background: url(../images/btn_back_home.png) 0px -45px no-repeat;
}
#tide_footer {
}
#error_message {
	font-size: 24px;
	color:#EE0000;
	margin-top: 30px;
}